@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Regular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Italic.woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-SemiBold.woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-Bold.woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
